*{
    padding: 0%;
    margin: 0%;
}

body{
    justify-content: center;
    background-color: #9596ba;
    margin: 0%;
    padding: 0%;
}

.Encabezado{
    background-color: #bd7a11;
    color: white;
    text-align: center;
    padding: 0%;
}

.inicio{    
    margin: 15px;
    padding: 8px;
    border-radius: 15px;
    justify-content: center;
    font-size: 15px;
}

.inicio a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}


.imagen-contenedor{
    position: relative;
    display: inline-block;
    border-radius: 15px;
}

.texto-informativo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.77);
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.texto-informativo nav li{
    margin: 15px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    display: flex;
    justify-content: center;
}


.imagen-contenedor:hover .texto-informativo{
    opacity: 1;
}

.linea1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linea1 div{
    display: flex;
    justify-items: center;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

.linea2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linea2 div{
    display: flex;
    justify-items: center;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

.inicio:hover{
    background-color: #9596ba;
    transition: 0.5s;
}

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0%;
    padding: 20px;
}

h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}