*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #9596ba;
    margin: 0%;
    padding: 0%;
}

.Encabezado{
    background-color: #bd7a11;
    color: white;
    text-align: center;
    padding: 0%;
}

.barra{
    flex-direction: column;
    background-color: white;
    list-style-type: none;
    padding: 9px;            
    margin: 0;             
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
    display: inline;       
    margin-right: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

.inicio{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0 15px 0 15px;
    margin: 20px 150px;
}
.center{
    display: flex;
    padding: 10px 75    px 15px 15px;
    text-align: center;
    margin: 75px 175px 75px 175px;
    display: flex;
    justify-content: center;

}

.IMG{
    justify-content: center;
    border-radius: 50px;
}

.final{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.FIIMG{
    display: flex;
    justify-content: center;
    padding: 15px 15px 15px 15px;
}

.Fi{
    margin: 25px;
    border-radius: 25px;
}

footer{
    background-color: black;
    margin: 0%;
    padding: 20px;
}

h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}