*{
  padding: 0%;
  margin: 0%;
}

body{
  background-color: #9596ba;
  margin: 0%;
  padding: 0%;
}

.Encabezado{
  background-color: #bd7a11;
  color: white;
  text-align: center;
  padding: 0%;
}

.inicio{    
  margin: 15px;
  padding: 8px;
  border-radius: 15px;
  justify-content: center;
  font-size: 15px;
}

.inicio a{
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.formulario{
  background-color: white;
  padding: 50px;
  margin: 50px;
  border-radius: 50px;
}

h1{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.sub {
  text-align: center;
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

 .Casillas{
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
  color: black;
  margin-bottom: 6px;
  font-weight: 500;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 15px;
  transition: border-color 0.3s;
}

.final{
  width: 100%;
  padding: 12px;
  background-color: #4b5563;
  color: white;
  font-size: 16px;
  border-radius: 6px;
}

.inicio:hover{
    background-color: #9596ba;
    transition: 0.5s;
}