body{
    background-color: #9596ba;
    margin: 0%;
    padding: 0%;
}

.Encabezado{
    background-color: #bd7a11;
    color: white;
    text-align: center;
    padding: 0%;
}

.inicio{    
    margin: 15px;
    padding: 8px;
    border-radius: 15px;
    justify-content: center;
    font-size: 15px;
}

.inicio a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}

.Cuadro{
    background-color: white;
    font-size: 20px;
    margin: 60px;
    padding: 25px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.Tema{
    display: flex;
    justify-content: center;
}

.Descripccion{
    display: flex;
    justify-content: center;
    padding: 150px;
    margin: 150px;
}

.inicio:hover{
    background-color: #9596ba;
    transition: 0.5s;
}

